<div class="panel panel-default">
	<div class="panel-body">
		<p>Thank you! Your message has been received.</p>
	</div> <!-- / panel-body -->
</div><!-- / panel -->

<h3><%= link_to "Back to Homepage", static_pages_landing_page_path %></h3>