.field {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 100;
	text-transform: uppercase;
}

th,
td,
p {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}