
#price {
	font-size: 2em;
	margin-bottom: 10%;
}

.form-group {
	margin: auto;
	width: 50%;
}

h3 {
	font-family: 'Roboto', Helvetica, sans-serif;
	color: black;
	text-align: center;
	text-transform: uppercase;
	font-weight: 100;
}